image:
  mariadb: {{ kube_image_repository }}/mariadb:{{ kube_image_tag }}
  mysqldump: {{ kube_image_repository }}/mariadb:{{ kube_image_tag }}
  pullSecrets: {{ docker_register_secrets_name }}
mariadb_password: {{ mariadb_root_password }}
mariadb_connection: {{ mariadb_max_connection }}
persistentVolume:
  enabled: {{ enable_pvc }}
  storageclass: {{ cephfs_storage_class_name }}
  name: {{ mariadb_pvc_name }}
  size: {{ mariadb_storage_size }}
mariadb_host_path: {{ mariadb_host_path }}
tolerationSeconds: {{ kube_toleration_seconds }}
nodeSelector:
  {{ control_node_role_name }}: {{ node_role_value }}
ingress:
  enabled: false
  ingressClassName: {{ ingress_class_name }}
priorityClassName: {{ kube_priority_name }}
mariadb_backup_path: /var/lib/mariadb-backup
affinity:
  key: {{ control_node_role_name }}
  value: {{ node_role_value }}
mysqldump:
  cron: {{ mariadb_backup_time }}
  history:
    success: 3
    failed: 1
hostNetwork: {{ mariadb_hostnetwork }}
