image:
  fsd: {{ kube_image_repository }}/fsd:{{ kube_image_tag }}
  fsd_job: {{ kube_image_repository }}/fsd_job:{{ kube_image_tag }}
  fsd_init: {{ kube_image_repository }}/fsd_init:{{ kube_image_tag }}
  fsd_nginx: {{ kube_image_repository }}/fsd_nginx:{{ kube_image_tag }}
  pullSecrets: {{ docker_register_secrets_name }}
  pullPolicy: "Always"

serviceAccountName: fsd
replica: {{ replicaNum }}
nodeSelector:
  {{ control_node_role_name }}: {{ node_role_value }}
priorityClassName: {{ kube_priority_name }}
hostNetwork: {{ fsd_host_network }}
tolerationSeconds: {{ kube_toleration_seconds }}

service:
  fsd_webhook:
    port: {{ fsd_webhook_port }}
    name: fsd-webhook
  fsd_job:
    port: {{ fsd_job_port }}
    name: fsd-job
  fsd_tcp:
    port: {{ fsd_tcp_port }}
    name: fsd-tcp
  fsd_tcp_file:
    port: {{ fsd_tcp_file_port }}
    name: fsd-tcp-file
  fsd_nginx:
    port: {{ fsd_nginx_port }}
    name: fsd-web

mount_dir:
  fsd_log: "{{ fsd_log }}"
  prometheus_rule: "{{ prometheus_alert_rule_dir }}"
  alertmanager_conf: "{{ prometheus_alertmanager_dir }}"
  voi_dir: "{{ fsd_voi_dir }}"
  upload_dir: "{{ fsd_voi_upload_dir }}"
  fsd_static: "{{ fsd_static_dir }}"
  samba_dir: "{{ fsd_cloud_disk_root_path }}"

fsd_env:
  redis_password: "{{ redis_master_password }}"
  redis_server_address: redis
  mariadb_server_address: mariadb
  emqx_server_address: emqx
  thanos_server_address: thanos-query
  fsd_job_server_address: fsd-job
  trochilus_server_address: trochilus-api
  btserver_server_address: "{{ docker_register_address }}"
  netty_codec_mac: "{{ fsd_netty_codec_mac }}"
  deploy_mode: "{{ fsd_deploy_mode }}"
  proxy_ip: "{{ docker_register_address }}"
  deploy_vip: "{{ docker_register_address }}"
  vnc_port: "{{ websockify_port }}"
  desktop_bt_port_start: "{{ bt_download_port_start }}"
  desktop_bt_port_end: "{{ bt_download_port_end }}"
  share_root_path: "{{ fsd_share_root_path }}"
  cloud_disk_root_path: "{{ fsd_share_root_path }}/111"
  cloud_disk_share_disk_path: "{{ fsd_cloud_disk_share_disk_path }}"
  cloud_disk_username: "{{ fsd_cloud_disk_user_name }}"
  cloud_disk_password: "{{ fsd_cloud_disk_password }}"

fsd_job_env:
  mariadb_username: root
  mariadb_password: "{{ mariadb_root_password }}"

containerPath:
  fsd_static: "{{ fsd_share_root_path }}/fsd/static"
  upload: "{{ fsd_share_root_path }}/upload"
  voi: "{{ fsd_share_root_path }}/voi"
  nginx_path: "/mnt/voi"