#!/bin/sh
#echo aaa$1 >> /var/tmp123
#df $1 | tail -1 | awk '{print $2" "$4}'
#echo 10485760 10240000
awk -v used=$(du -s {{ fsd_cloud_disk_root_path }}/$1|awk '{print $1}') -v tar=$1 '$1==tar{print $2" "$2-used}' {{ fsd_cloud_disk_root_path }}/samba/disksize
#echo "awk -v used=$(du -s /mnt/111/$1|awk '{print $1}') '/11/{print $2" "$2-used}' /etc/samba/disksize" >> /var/tmp123
#awk -v used=$(du -s /mnt/111/$1|awk '{print $1}') '/11/{print $2" "$2-used}' /etc/samba/disksize >> /var/tmp123
