image:
  btserver: "{{ kube_image_repository }}/btserver:{{ kube_image_tag }}"
  btserver_track: "{{ kube_image_repository }}/btserver_track:{{ kube_image_tag }}"
  pullPolicy: "IfNotPresent"
  # Overrides the image tag whose default is the chart appVersion.
  pullSecrets: "{{ docker_register_secrets_name }}"  

priorityClassName: "{{ kube_priority_name }}"

service:
  btserver: "{{ bt_server_port }}"
  btserver_track: "{{ bt_tracker_port }}"

serviceAccountName: btserver
btserver_share_path: "{{ btserver_share_path }}"
hostNetwork: {{ btserver_hostnetwork }}
containerPath: "{{ fsd_share_root_path }}/voi"
tolerationSeconds: {{ kube_toleration_seconds }}

nodeSelector:
  {{ control_node_role_name }}: {{ node_role_value }}

affinity: {}

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext: {}
securityContext: {}
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}
