[torrent]
managementIp=0.0.0.0
managementPort={{ bt_server_port }}
torrentIp={{ inventory_hostname }}
portBegin={{ bt_download_port_start }}
portEnd={{ bt_download_port_end }}
trackerPort={{ bt_tracker_port }}
