image:
  libvirt: {{ kube_image_repository }}/libvirt:{{ libvirt_image_tag }}
  pullSecrets: {{ docker_register_secrets_name }}
  pullPolicy: "Always"
libvirt_tls: false
secret:
  rbd_secret_uuid: "{{ ceph_rbd_secret_uuid }}"
  secret_user: "{{ ceph_rbd_admin_user }}"
  ceph_admin_keyring: "{{ mons_secret.client_admin.client_admin_secret }}"
serviceAccountName: libvirt
nodeSelector:
  {{ compute_node_role_name }}: {{ node_role_value }}
priorityClassName: {{ kube_priority_name }}
trochilus_dir: "{{ trochilus_base_path }}"
share_dir: "{{ desktop_mount_dir }}"
enable_ceph: {{ enable_ceph }}
tolerationSeconds: {{ kube_toleration_seconds }}
hostNetwork: {{ libvirt_hostnetwork }}
hugepages_2M_total: {{ allocation_hugepages_total }}
enableHugepages: {{ enable_hugepages }}
trochilus_agent_port: {{ trochilus_agent_listen_port }}
immutable:
  enabled: true
  immutable_object_cache_path: {{ immutable_object_cache_path }}
