[common]
log_level=0
mode=64

[display]
full_stream=0
high_band=20000
middle_band=10000
low_band=1000
high_fps=25
middle_fps=10
low_fps=10
mode_full_cnt=3
mode_pic_cnt=5
mode_detect_cnt=6

[display.mix264]
level=0
profile=1
drop=0
qp_min={{ libvirt_qp_min }}
qp_max={{ libvirt_qp_max }}