#!/bin/bash
function etcd_backup(){
    ETCDCTL_API=3 etcdctl snapshot save \
    {{ etcd_backup_dir }}/etcd-snapshot-$(date '+%Y%m%dT%H%M%S').db \
    --cacert=/etc/kubernetes/pki/etcd/ca.crt \
    --key=/etc/kubernetes/pki/etcd/healthcheck-client.key \
    --cert=/etc/kubernetes/pki/etcd/healthcheck-client.crt
}

function etcd_cleanup(){
  find {{ etcd_backup_dir }} -ctime +{{ etcd_backup_expiry }} -name 'etcd-snapshot*.db' | xargs rm -rf
}

case ${1} in
  backup)
    etcd_backup
    ;;
  cleanup)
    etcd_cleanup
    ;;
esac
