#jinja2: trim_blocks: False
{%- set api_interfaces = [] -%}
{% for host in groups['control'] -%}
{{ api_interfaces.append(hostvars[host]['api_interface']) -}}
{%- endfor %}
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: external
  namespace: kube-system
spec:
  ipAddressPools:
  - address-pool
  interfaces:
  {%- for item in api_interfaces | unique %}
  - {{ item }}
  {%- endfor %}
