apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ apiServerEndpoint }}:{{ kube_apiserver_port }}"
    token: {{ kubeadm_token }}
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: {{ kubeadm_token }}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ inventory_hostname }}
    bindPort: 6443
  certificateKey: {{ certificate_key }}
nodeRegistration:
  kubeletExtraArgs:
    network-plugin: cni
    hostname-override: {{ inventory_hostname }}
    pod-infra-container-image: {{ pod_infra_container_image }}
  name: {{ inventory_hostname }}
  taints: []
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
clusterName: kubernetes
controlPlaneEndpoint: "{{ apiServerEndpoint }}:{{ kube_apiserver_port }}"
imageRepository: "{{ kube_image_repository }}"
networking:
  podSubnet: {{ kube_pod_subnet }}