apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: {{ kube_priority_name }}
value: {{ kube_priority_value }}
preemptionPolicy: Never
globalDefault: false
description: "This priority class will not cause other pods to be preempted."