[Unit]
Description=Ceph Fs mount {{ desktop_mount_shell_dir }}
After=network-online.target local-fs.target time-sync.target ceph-mds@{{ inventory_hostname }}.service ceph-mon@{{ inventory_hostname }}.service ceph-mon.target ceph-mds.target ceph-osd.target ceph.target
Before=docker.service
Wants=network-online.target local-fs.target time-sync.target
PartOf=ceph-mds.target ceph-mon.target ceph-osd.target ceph.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash {{ desktop_mount_shell_dir }}/cephmount.sh

[Install]
WantedBy=ceph-mds.target ceph-mon.target ceph-osd.target ceph.target
