#!/bin/bash
a=1
mount_state="mountpoint -q {{ desktop_mount_dir }}"
if $mount_state;then
    echo "{{ desktop_mount_dir }}已挂载"
    exit 1
fi
while true
do
    ceph_active=`ceph fs status | grep active | wc -l`
    if [ "$ceph_active" -ne 0 ]
    then
        ceph-fuse -m {{ mon_hosts }}  {{ desktop_mount_dir }}
        if [ $? == "0" ]
        then
            echo "$(date +"%Y-%m-%d %T")==>第$a次尝试挂载:成功"
            exit 0
        else
            echo "$(date +"%Y-%m-%d %T")==>第$a次尝试挂载:失败"
            exit 1
        fi
    else
        echo "$(date +"%Y-%m-%d %T")==>第$a次ceph fs 检测未active"
        let a=a+1
        sleep 10
    fi
done
