
deb http://{{ apt_source }}/ubuntu/ focal main restricted
# deb-src http://{{ apt_source }}/ubuntu/ focal main restricted

deb http://{{ apt_source }}/ubuntu/ focal-updates main restricted
# deb-src http://{{ apt_source }}/ubuntu/ focal-updates main restricted

deb http://{{ apt_source }}/ubuntu/ focal universe
# deb-src http://{{ apt_source }}/ubuntu/ focal universe
deb http://{{ apt_source }}/ubuntu/ focal-updates universe
# deb-src http://{{ apt_source }}/ubuntu/ focal-updates universe

deb http://{{ apt_source }}/ubuntu/ focal multiverse
# deb-src http://{{ apt_source }}/ubuntu/ focal multiverse
deb http://{{ apt_source }}/ubuntu/ focal-updates multiverse
# deb-src http://{{ apt_source }}/ubuntu/ focal-updates multiverse

deb http://{{ apt_source }}/ubuntu/ focal-backports main restricted universe multiverse
# deb-src http://{{ apt_source }}/ubuntu/ focal-backports main restricted universe multiverse

# deb http://archive.canonical.com/ubuntu focal partner
# deb-src http://archive.canonical.com/ubuntu focal partner

deb http://{{ apt_source }}/ubuntu/ focal-security main restricted
# deb-src http://{{ apt_source }}/ubuntu/ focal-security main restricted
deb http://{{ apt_source }}/ubuntu/ focal-security universe
# deb-src http://{{ apt_source }}/ubuntu/ focal-security universe
deb http://{{ apt_source }}/ubuntu/ focal-security multiverse
# deb-src http://{{ apt_source }}/ubuntu/ focal-security multiverse
deb [arch=amd64 signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] http://{{ apt_source }}/kubernetes/apt/ kubernetes-xenial main
deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] http://{{ apt_source }}/docker/linux/ubuntu/ focal stable
deb [arch=amd64 signed-by=/usr/share/keyrings/ansible-archive-keyring.gpg] http://{{ apt_source }}/ansible-update/ansible/ubuntu focal main