---
rbac:
  create: true
pullSecrets: {{ docker_register_secrets_name }}

serviceAccounts:
  nodeplugin:
    create: true
    name: rbd-csi-nodeplugin
  provisioner:
    create: true
    name: rbd-csi-provisioner

csiConfig:
  - clusterID: "{{ fsid }}"
    monitors: 
    {% for host in groups['ceph-mons'] -%}
    - "{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}"
    {% endfor %}

csiMapping: []

encryptionKMSConfig: {}

logLevel: 5

nodeplugin:
  name: nodeplugin
  priorityClassName: system-node-critical
  updateStrategy: RollingUpdate

  httpMetrics:
    enabled: true
    containerPort: {{ rbd_check_port }}

    service:
      enabled: true
      servicePort: {{ rbd_service_port }}
      type: ClusterIP
      annotations: {}
      clusterIP: ""
      externalIPs: []
      loadBalancerIP: ""
      loadBalancerSourceRanges: []

  profiling:
    enabled: false

  registrar:
    image:
      repository: {{ kube_image_repository }}/csi-node-driver-registrar
      tag: {{ kube_image_tag }}
      pullPolicy: IfNotPresent
    resources: {}

  plugin:
    image:
      repository: {{ kube_image_repository }}/cephcsi
      tag: {{ kube_image_tag }}
      pullPolicy: IfNotPresent
    resources: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}

  podSecurityPolicy:
    enabled: false

provisioner:
  name: provisioner
  replicaCount: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 50%
  defaultFSType: ext4
  deployController: true
  timeout: 60s
  hardMaxCloneDepth: 8
  softMaxCloneDepth: 4
  maxSnapshotsOnImage: 450
  minSnapshotsOnImage: 250
  skipForceFlatten: false
  priorityClassName: system-cluster-critical
  httpMetrics:
    enabled: true
    containerPort: {{ rbd_check_port }}

    service:
      enabled: true
      servicePort: {{ rbd_service_port }}
      type: ClusterIP
      annotations: {}

      clusterIP: ""
      externalIPs: []

      loadBalancerIP: ""
      loadBalancerSourceRanges: []

  profiling:
    enabled: false

  provisioner:
    image:
      repository: {{ kube_image_repository }}/csi-provisioner
      tag: {{ kube_image_tag }}
      pullPolicy: IfNotPresent
    resources: {}

  attacher:
    name: attacher
    enabled: true
    image:
      repository: {{ kube_image_repository }}/csi-attacher
      tag: {{ kube_image_tag }}
      pullPolicy: IfNotPresent
    resources: {}

  resizer:
    name: resizer
    enabled: true
    image:
      repository: {{ kube_image_repository }}/csi-resizer
      tag: {{ kube_image_tag }}
      pullPolicy: IfNotPresent
    resources: {}

  snapshotter:
    image:
      repository: {{ kube_image_repository }}/csi-snapshotter
      tag: {{ kube_image_tag }}
      pullPolicy: IfNotPresent
    resources: {}

  nodeSelector:
    {{ control_node_role_name }}: {{ node_role_value }}

  tolerations: []

  affinity: {}
  podSecurityPolicy:
    enabled: false

topology:
  enabled: false
  domainLabels:
    - failure-domain/region
    - failure-domain/zone

storageClass:
  create: {{ create_rbd_storage_class }}
  name: {{ rbd_storage_class_name }}
  annotations: {}
  clusterID: {{ fsid }}
  dataPool: ""
  pool: "{{ osd_pools.kubernetes_pools.pool_name }}"
  imageFeatures: "layering"
  tryOtherMounters: false
  mounter: ""
  cephLogDir: ""
  cephLogStrategy: ""
  volumeNamePrefix: ""
  encrypted: ""
  encryptionKMSID: ""
  topologyConstrainedPools: []
  mapOptions: ""
  unmapOptions: ""
  provisionerSecret: csi-rbd-secret
  provisionerSecretNamespace: ""
  controllerExpandSecret: csi-rbd-secret
  controllerExpandSecretNamespace: ""
  nodeStageSecret: csi-rbd-secret
  nodeStageSecretNamespace: ""
  fstype: ext4
  reclaimPolicy: Delete
  allowVolumeExpansion: true
  mountOptions: []
selinuxMount: true

secret:
  create: true
  name: csi-rbd-secret
  userID: admin
  userKey: {{ mons_secret.client_admin.client_admin_secret }}

cephconf: |
  [global]
    auth_cluster_required = cephx
    auth_service_required = cephx
    auth_client_required = cephx

provisionerSocketFile: csi-provisioner.sock
pluginSocketFile: csi.sock
kubeletDir: /var/lib/kubelet
cephLogDirHostPath: /var/log/ceph
driverName: rbd.csi.ceph.com
configMapName: ceph-csi-config
externallyManagedConfigmap: false
cephConfConfigMapName: ceph-config
kmsConfigMapName: ceph-csi-encryption-kms-config
