#!/bin/bash
while true
do
    mount_state=`timeout 5 ls -l {{ desktop_mount_dir }} | wc -l`
    if [ $mount_state -le 4 ]
    then
        umount -l {{ desktop_mount_dir }}
        mount -a
        break
    fi
done
