[Unit]
Description=Exec Iptables command
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /etc/kubernetes/reboot-script.sh

[Install]
WantedBy=multi-user.target
