global
    maxconn                 {{ 10000 * ansible_processor_vcpus|int }}
    log                     127.0.0.1 local0

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 5
    timeout http-request    5m
    timeout queue           5m
    timeout connect         30s
    timeout client          15m
    timeout server          15m
    timeout http-keep-alive 30s
    timeout check           30s
    maxconn                 {{ 10000 * ansible_processor_vcpus|int }}

listen stats
    bind {{ inventory_hostname }}:{{ lb_haproxy_stats_bind_address }}
    mode http
    balance {{ lb_haproxy_balance_alg }}
    stats enable
    stats refresh {{ lb_haproxy_stats_refresh }}s
    stats uri {{ lb_haproxy_stats_uri }}
    stats auth {{ lb_haproxy_stats_user }}:{{ lb_haproxy_stats_password }}
    stats admin if TRUE

{% if lb_kube_apiserver_healthcheck_port is defined -%}
frontend healthz
    bind {{ inventory_hostname }}:{{ lb_kube_apiserver_healthcheck_port }}
    mode http
    monitor-uri /healthz
{% endif %}

frontend kube_api_frontend
    bind {% if inventory_hostname in groups['load-balancer'] %}0.0.0.0{% else %}127.0.0.1{% endif %}:{{ kube_apiserver_port }}
    mode tcp
    option tcplog
    default_backend kube_api_backend

backend kube_api_backend
    mode tcp
    balance {{ lb_haproxy_balance_alg }}
    default-server inter 15s downinter 15s rise 2 fall 2 slowstart 60s maxconn 1000 maxqueue 256 weight 100
    option httpchk GET /healthz
    http-check expect status 200
{% for host in (groups['kube-master'] + groups['new-master']) %}
    server {{ host }} {% if hostvars[host]['ansible_host'] is defined %}{{ hostvars[host]['ansible_host'] }}{% else %}{{ host }}{% endif %}:6443 check check-ssl verify none
{% endfor %}

{% if enable_emqx | bool %}
listen emqx
    mode tcp
    bind {{ kube_apiserver_vip }}:{{ emqx_mqtt_port }}
    balance {{ lb_haproxy_balance_alg }}
    option tcplog
{% for host in (groups['emqx']) %}
    server {{ host }} {{ 'api' | filter_address(host) }}:{{ emqx_mqtt_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_prometheus | bool %}
listen prometheus
    mode tcp
    bind {{ kube_apiserver_vip }}:{{ prometheus_server_port }}
    balance {{ lb_haproxy_balance_alg }}
    option tcplog
{% for host in (groups['prometheus']) %}
    server {{ host }} {{ 'api' | filter_address(host) }}:{{ prometheus_server_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_trochilus | bool %}
listen trochilus
    mode tcp
    bind {{ kube_apiserver_vip }}:{{ trochilus_api_listen_port }}
    balance {{ lb_haproxy_balance_alg }}
    option tcplog
{% for host in (groups['trochilus-api']) %}
    server {{ host }} {{ 'api' | filter_address(host) }}:{{ trochilus_api_listen_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}