image: {{ kube_image_repository }}/guest-service:{{ kube_image_tag }}
pullPolicy: "Always"
pullSecrets: {{ docker_register_secrets_name }}

serviceAccountName: guest-service
priorityClassName: {{ kube_priority_name }}

nodeSelector:
  {{ compute_node_role_name }}: {{ node_role_value }}

resources: {}
tolerationSeconds: {{ kube_toleration_seconds }}