---
image: {{ kube_image_repository }}/guest-server:{{ kube_image_tag }}
pullPolicy: "IfNotPresent"

# Allows you to add any config files in /opt/microservice/kly/bin/config
# such as kls.yml
klyConfig:
    mqtt_svc_addr: tcp://emqx.{{ helm_install_namespace }}.svc.cluster.local:1883
    prometheus_svc_addr: http://pushgateway.{{ helm_install_namespace }}.svc.cluster.local:{{ prometheus_pushgateway_port }}/metrics/job/pushgateway/instance/

serviceAccountName: guest-server
nodeSelector:
  compute_role: enabled
