mariadb:
  repository: bitnami/mariadb
  tag: 10.5.15-debian-10-r52
  pullPolicy: IfNotPresent

mariadb_password: {{ mariadb_root_password }}
storageclass: {{ ceph.cephfs_storage_class_name }}
pvc:
  name: mariadb
  size: 10Gi
tolerationSeconds: 30
