mariadb:
  repository: bitnami/mariadb
  tag: 10.5.15-debian-10-r52
  pullPolicy: IfNotPresent

mariadb_password: 123456
storageclass: cephfs-general
pvc:
  name: mariadb
  size: 10Gi
tolerationSeconds: 30
